.container_slidercategory {
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    background: #3e3e3f;
    padding-top: 50px;
}

.productcategory_container {
    background-color: #3e3e3f;
}

.container_slidercategory--img img {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 20px;

}


.container_slidercategory .ant-carousel .slick-prev,
.container_slidercategory .ant-carousel .slick-next,
.container_slidercategory .ant-carousel .slick-prev:hover,
.container_slidercategory .ant-carousel .slick-next:hover {
    font-size: inherit;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #29292a;
    opacity: .7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_slidercategory .slick-slider span {
    display: flex !important;
}

.container_slidercategory .ant-carousel .slick-prev,
.container_slidercategory .ant-carousel .slick-prev:hover {
    left: 16px;
    z-index: 2;
}

.container_slidercategory .ant-carousel .slick-next,
.container_slidercategory .ant-carousel .slick-next:hover {
    right: 16px;
    z-index: 2;
}

.container_slidercategory .slick-dots.slick-dots-bottom {
    display: none !important;
}